---
import Link from "../main/Link.astro";

import navData from "../../data/navData";
---

<nav aria-label="Blog Navigation">
  <div class="navbar">
    <h1 class="logo">
      <Link
        href="/"
        text=""
        icon={{ name: "mdi:home", side: "left" }}
        style="primary"
        isFilled={false}
      />
    </h1>
    <ul>
      {
        navData.map((item) => (
          <Link
            href={item.href}
            icon={{ name: `mdi:${item.icon}`, side: "left" }}
            text={item.label}
            style="primary"
            isFilled={false}
          />
        ))
      }
    </ul>
  </div>
</nav>

<script>
  import "/src/scripts/navBar.ts";
</script>
